<%- include("./partials/header.ejs") %>

    
<div id="carouselExampleIndicators" class="carousel slide carousel-fade custom-carousel" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" >
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="/assets/img/<%= detail.image %>"
                class="d-block w-100" alt="..." />
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <img src="https://www.lib.kmutt.ac.th/wp-content/uploads/2021/02/Orange-%E0%B9%80%E0%B8%82%E0%B9%89%E0%B8%A1-on-WEB.jpg"
                class="d-block w-100" alt="..." />
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <img src="https://www.lib.kmutt.ac.th/wp-content/uploads/2016/07/kmuttarchive.png" class="d-block w-100"
                alt="..." />
        </div>
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>



    <div class="add-css">
        <h3 align='center' style="font-size: 25px;">Details of Room</h3>

        <br>
       
        <div class="add-back-dt">

            <table style="width:60%" >

                <tr>
                    <td>Workspace Name</td>
                    <td>:</td>
                    <td>
                        <%= detail.workspace_name %>
                    </td>

                </tr>

                <tr>
                    <td>Location building</td>
                    <td>:</td>
                    <td>
                        <%= detail.location_name %>
                    </td>

                </tr>


                <tr>
                    <td>Timeopen-close</td>
                    <td>:</td>
                    <td>
                        <%= detail.time_openclose %>
                    </td>
                </tr>

                <tr>
                    <td>Workspacetype</td>
                    <td>:</td>
                    <td>
                        <%= detail.workspace_type_name %>
                    </td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>
                        <%= detail.workspace_status %>
                    </td>
                </tr>

                <tr>
                    <td>Detail</td>
                    <td>:</td>
                    <td>
                        <%= detail.detail %>
                    </td>
                </tr>

                <tr>
                    <td>Equipment</td>
                    <td>:</td>
                    <td>
                        <%= detail.equipment_name %>
                    </td>
                </tr>
            </table>
            </tr>

        
        </div>
        <% if (account && account.role == "admin") { %>
            <div style="margin-left: 1230px;">
                <a href="/edit/<%= detail.workspace_no %>">  <i style="font-size: 27px; padding-right: 0.4rem;" class="far fa-edit"></i>  </a>
            </div>  
            
            <div class="add-css" style="text-align: center" >
            <a href="/reserve/<%= detail.workspace_no %>" class="Edit-btn-res" >Reserve Workspace</a>
            </div>
    
            <div class="add-css" style="text-align: center" >
                <a href="/delete/<%= detail.workspace_no %>" class="Edit-btn" >Delete Workspace</a>
            </div>
             <% } else if (account && account.role == "user") { %>
            <div class="add-css" style="text-align: center" >
            <a href="/reserve/<%= detail.workspace_no %>" class="Edit-btn-res" >Reserve Workspace</a>
                </div>
        <% } else { %>
            <div class="add-css" style="text-align: center" >
            <a href="/reserve/<%= detail.workspace_no %>" class="Edit-btn-res" >Reserve Workspace</a>
            </div>
        <% }  %>


        

    </div>


    <br>
    <br>
    <%- include("./partials/footer.ejs") %>