<%- include("./partials/header.ejs") %>


    <div class="add-css">
        <h3 align='center' style="font-size: 25px;">Details Of Rooms</h3>

        <br>
       
        <div class="add-back-dt">
            <table style="width:60%" >

                <tr>
                    <td>Workspace Name</td>
                    <td>:</td>
                    <td>
                        <%= detail.workspace_name %>
                    </td>

                </tr>

                <tr>
                    <td>Location building</td>
                    <td>:</td>
                    <td>
                        <%= detail.location_no %>
                    </td>

                </tr>
                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>
                        <%= detail.workspace_status %>
                    </td>
                </tr>

                <tr>
                    <td>Detail</td>
                    <td>:</td>
                    <td>
                        <%= detail.detail %>
                    </td>
                </tr>

                <tr>
                    <td>Image</td>
                    <td>:</td>
                    <td>
                        <%= detail.image %>
                    </td>
                </tr>

                <tr>
                    <td>Timeopen-close</td>
                    <td>:</td>
                    <td>
                        <%= detail.time_openclose %>
                    </td>
                </tr>

                <tr>
                    <td>Workspacetype</td>
                    <td>:</td>
                    <td>
                        <%= detail.workspace_type_no %>
                    </td>
                </tr>

                
              


            </table>
            </tr>

            <br>
            <a href="/reserve/<%= detail.workspace_no %>" class="Edit-btn" >Reserve Workspace</a>
        </div>

        <br>
        <a href="/edit/<%= detail.workspace_no %>" class="Edit-btn" >Edit Workspace</a>
        

        <div>
        <br>
            <a href="/delete/<%= detail.workspace_no %>" class="Edit-btn" >Delete Workspace</a>
        </div>    
    </div>
    <%- include("./partials/footer.ejs") %>