<%- include("./partials/header.ejs") %>


<table  class="table" >
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Equipment Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Serial</th>
        <th></th>
      </tr>
    </thead>
    
  

    <% if (eqp.length > 0 ) { %>
    <% eqp.forEach((eqps, index) => { %>
    <tbody> 
      <tr>
        <td></td>
        <td><%= eqps.equipment_name %></td>
        <td><%= eqps.brand_name %></td>
        <td><%= eqps.model_name %></td>
        <td><%= eqps.equipment_item_no %></td>
        <td><a href="/eqpdel/<%= eqps.equipment_item_no %>" target="_blank" class="btn-custom">delete</a></td>
      </tr>
    </tbody>

    <% }) %>

  </table>
  
  <br>
    <a href="/addeqp" target="_blank" class="btn-custom">Add Equipment</a>

  <% } else { %>
    
    <p class="text-center">No equipment found.</p>

    <br>
    <a href="/addeqp" target="_blank" class="btn-custom">Add Equipment</a>
    <% } %>

  <%- include("./partials/footer.ejs") %>



  